@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-tajawal: "Tajawal", sans-serif;
}

:root {
  font-family: var(--font-tajawal);
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  direction: rtl;
}

::selection {
  @apply bg-orange-100 text-orange-900;
}
